.main {
    position: relative;
    margin: 1.767rem auto 0 auto;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .feedContent {
        overflow: hidden;
        flex-grow: 1;
        height: 50px;
        background: red
    }
    .aside {
        width: 240px;
        min-width: 240px;
        margin-left: 20px;
    }
}